<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dongguk.yamyam"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="21" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="dongguk.yamyam.app.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/launch_icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:hardwareAccelerated="false">
        <activity
            android:name=".activity.LoginActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBWZbw2NtwCdjtcZyqw0RwMQZTVPOCvQqA"/>

        <activity
            android:name=".activity.RegisterActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:launchMode="singleTop" />

        <activity android:name=".activity.NameSearchActivity"
            android:theme="@style/Theme.AppCompat.Light"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>

        <activity
            android:name=".activity.SelectActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="@string/app_name">
        </activity>

        <activity
            android:name=".activity.RegionActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="@string/app_name">
        </activity>

        <activity
            android:name=".activity.SelectSearchActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="@string/app_name">
        </activity>

        <activity
            android:name=".activity.SanitationSearchActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="@string/app_name">
        </activity>

        <activity
            android:name=".activity.SanitationActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="@string/app_name">
        </activity>

        <activity
            android:name=".activity.DetailActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="@string/app_name">
        </activity>

        <activity
            android:name=".activity.WriteReviewActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="@string/app_name">
        </activity>

        <activity
            android:name=".activity.ReviewListActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="@string/app_name">
        </activity>

        <activity
            android:name=".activity.LikeActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="@string/app_name">
        </activity>

        <activity
            android:name=".activity.MyFavoriteActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="@string/app_name">
        </activity>

        <activity
            android:name=".activity.DetailGpsActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="@string/app_name">
        </activity>

        <activity
            android:name=".activity.MyGpsActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="@string/app_name">
        </activity>

        <activity
            android:name=".activity.NoticeActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="@string/app_name">
        </activity>

        <activity
            android:name=".activity.IntroActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="@string/app_name">
        </activity>

    </application>
</manifest>